<div class="nav-menu">
    <div class="search-bar">
        <Icon Name="IconName.Search"></Icon>
        <input type="text" placeholder="Search" />
    </div>

    <div>

    </div>

</div>

@code {

}
